<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelSuite" parallel="classes" thread-count="3">
    <test name="TestSuite">
        <classes>
            <class name="AuthorizationTest" />
            <class name="AddProductsToCartTest" />
            <class name="OrderTest" />
        </classes>
    </test>
</suite>
